/*
    Copyright 2014-2015 Micheal P. Walls <michealpwalls@gmail.com>

    This file is part of the International Student Registration System.

    International Student Registration System is free software: you can
    redistribute it and/or modify it under the terms of the GNU General
    Public License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.

    International Student Registration System is distributed in the hope
    that it will be useful, but WITHOUT ANY WARRANTY; without even the
    implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with International Student Registration System.
    If not, see <http://www.gnu.org/licenses/>.
 */
 
/*
 * Background: #fff
 * Light-gray: #e5e0d5 (Old: #e3ddd3) (Background)
 * Dark-gray:  #444
 * Green:      #64a70b
 * Blue:       #004b87
 */
body {
    font-family: 'Lato', 'Avenir', 'sans-serif';
    font-size: 1em;
    background-color: #fff;
    margin: 0px;
    padding-top: 0px;
    color: #000;
}

.sessionreport-sessionparticipant, .indent {
    padding-left: 25px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.titleText {
    display: block;
    margin-top: 7px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: .5em;
    font-size: 2em;
    color: #000;
}

.inline {
    display: inline;
}

div.formbox,div.formbox2,div.formbox-max,div.formbox-registered{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 10px;
}

div.formbox-max {
    background-color: #e5e0d5;
    font-weight: normal;
    font-style: italic;
}

div.formbox-registered {
    border: 1px solid #fcd113;
    background-color: #f8da4e;
    color: #915608;
}

div.main {
    width: 1024px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 30px;
    padding-top: 0;
    border: none;
    background-color: white;
}

.logo {
    display: inline;
    height: 80px;
    width: auto;
    max-width: none;
    margin-top: 0px;
}

.logo-footer {
    max-width: 220px;
}

header {
    margin: 0px;
    background-color: #fff;
    padding: 10px;
}

footer {
    margin: 0px;
    background-color: #fff;
    padding: 50px;
    padding-left: 150px;
}

.sessionDescription {
    display: block;
    margin-left: 60px;
}

br {
	clear: left;
}

blockquote {
	padding: 8px;
	background-color: #e5e0d5;
	font-size: 0.9em;
}

a {
	text-decoration: none;
	color: #004b87;
}

a:hover {
	text-decoration: underline;
        color: #64a70b;
}

.listitalics {
	font-style: italic;
}

span.sectionTitle, span.workshopTitle {
	font-weight: bold;
	font-size: 1.3em;
	color: #444;
}

span.workshopTitle, .reportTitle {
	color: #005A8A;
	font-size: 1.1em;
}

span.regboxtitle {
	font-size: 1.3em;
}

p.warning {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: red;
}

h1 {
    color: #000;
}

span.version {
	float: right;
	font-size: 0.7em;
	font-style: italic;
	color: #005A8A;
}

nav.dashboardMenu {
	text-align: center;
	background-color: #e5e0d5;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 3%;
	padding-right: 3%;
}

.rounded-corner {
	border-radius: 18px;
}

.input-text {
	color: #444;
}

.input-text:active, .input-text:hover, .input-text:focus {
	font-weight: bold;
	color: #444;
}

.borderall {
	border: solid 1px #444; padding: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	margin-right: 20px;
}

.bordernotop {
	border: solid 1px #444;
	border-top: none;
	padding: 8px;
	margin-right: 20px;
}

.borderend {
	margin-bottom: 8px;
	border: solid 1px #444;
	border-top: none;
	padding: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	margin-right: 20px;
}

.wselected {
	background-color: #f3d03e;
	margin-right: 20px;
}

.wfull {
	background-color: #e5e0d5;
	margin-right: 20px;
}

.regbox {
	border: dotted 1px #444;
	background-color: white;
	padding: 12px;
	margin-bottom: 12px;
	padding-top: 0;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.subordinateRegbox {
	border: dotted 1px #444;
	background-color: white;
	padding: 12px;
	margin-top: 0px;
	margin-bottom: 12px;
	padding-top: 0;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-top: dotted 1px white;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
}

.regboxtitle {
	display: block;
	background-color: #004b87;
	color: white;
	padding: 12px;
	margin-top: 0;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}

/**
 * Custom dialog style (Better performance than JQuery UI theme
 * when rendered with IE's Trident engine).
 */
.ui-dialog {
	width: 300px;
	border: dotted 1px #444;
	border-radius: 15px 15px;
	background-color: #fff;
}

.ui-dialog-titlebar {
	cursor: move;
	border: 0px;
	border-radius: 15px 15px 0px 0px;
	padding-left: 8px;
	background-color: #004b87;
	color: #fff;
	font-weight: bold;
}

.ui-dialog-titlebar-close {
    float: right;
    border: 0px;
    border-bottom: 0px;
    border-radius: 0px 15px 0px 0px;
    background-color: #ddd;
}

.ui-dialog-content {
    padding-left: 8px;
}

.ui-state-error {
    margin-top: 25px;
    padding-left: 25px;
    border: 1px solid #cd0a0a;
    border-radius: 8px;
    background: #fef1ec;
    color: #cd0a0a;
}

.ui-state-error a {
	color: #cd0a0a;
}

.ui-state-info {
    margin-top: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    border: 1px solid #fcd113;
    border-radius: 8px;
    background: #f8da4e;
    color: #915608;
}

.ui-state-info a {
    color: #915608;
}

.upper-space {
    margin-top: 20px;
}

.lower-space {
    margin-bottom: 10px;
}

.left-margin {
	margin-left: 20px;
}

.block {
	display: block;
}

.center {
	text-align: center;
}

.text-title-nosize {
	color: #004b87;
	text-decoration: underline;
	font-weight: bold;
}

.textinput {
	width: 300px;
}

.regControl, .regControlTop {
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
}

.regControlTop {
	margin-top: 0px;
}

.regLabelContainer {
	font-size: 1em;
	line-height: 1.2em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 28%;
	float: left;
}

.regControlContainer {
	font-size: 1em;
	line-height: 1.2em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 72%;
	float: right;
}

.regOverviewLabelContainer {
	font-size: 0.90em;
	line-height: 0.90em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 30%;
	float: left;
}

.regOverviewControlContainer {
	font-size: 0.90em;
	line-height: 0.90em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 70%;
	float: right;
}

.contactLabelContainer {
	font-size: 1.08em;
	line-height: 1.15em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 28%;
	float: left;
}

.contactControlContainer {
	font-size: 1em;
	line-height: 0.90em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 72%;
	float: right;
}

.button-green, .button-green:active {
        display: block;
	padding: 4px;
	background-color: #64a70b;
        color: white;
	border: solid 0px #444;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

.button-green:hover {
        display: block;
	cursor: pointer;
	text-decoration: underline;
        background-color: #004b87;
}

.button-green:active {
        display: block;
	cursor: pointer;
	font-weight: bold;
	background-color: #64a70b;
}

.button-large {
	font-size: 2em;
}

.text-green {
	color: #004b87;
}

.text-normal {
	color: black;
}

.clear {
	clear: both;
}

/*
 * Jquery-ui datepicker widget
 */
element.style {
  position: absolute;
  top: 32px;
  left: 35px;
  z-index: 1;
  display: block;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background-color: #ccc;
  /*background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;*/
  color: #222222;
}
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}